In [ ]:
%pip install -q -r requirements.txt

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# load hyperparams instance
from hyper_params import HyperParams
params = HyperParams()

In [3]:
DATA_DIR='data'

In [4]:
from dataproc import io
io.DATA_DIR='data'

In [13]:
# build all features dataset
import featues_datasets_all_patients
featues_datasets_all_patients.DATA_DIR = DATA_DIR
df_final_dataset = featues_datasets_all_patients.run(params)

hadm_ids table: default.all_pts_24_hours
Previous admits:  (8151, 2)
--------------------------------------------------------------
Open wounds:  (1054, 2)
--------------------------------------------------------------
lab events before selection:  (5909986, 5)
lab events after selection:  (2823545, 5)
shape before dropping sparses (54903, 423)
shape after dropping sparses (54903, 126)
df_lab_results: (54903, 126)
df_lab_flags: (54903, 428)
df_dataset_unprocessed: (54871, 561)
df_dataset_processed: (54871, 745)
df_final_dataset: (54871, 841)
autoencoder training data saved to data/autoencoder_fulldata.npy

In [21]:
df_final_dataset.isna().sum().sum()

0

In [6]:
df_final_dataset = io.load_dataframe('df_final_dataset')

In [22]:
# create a cohort dataframe and numpy file
import build_cohort_dataset
df_cohort = build_cohort_dataset.build_cohort(params, df_final_dataset)

df_labels: (4130, 2)
cohort dataset: (4085, 843)
cohort data saved to data/fulldata.npy

In [12]:
df_cohort

,index,50800_flag,50801_flag,50802_flag,50803_flag,50804_flag,50805_flag,50806_flag,50808_flag,50809_flag,...,Vancomycin,Vancomycin 25mg/mL Ophth Soln,Vancomycin Antibiotic Lock,Vancomycin Desensitization,Vancomycin Enema,Vancomycin HCl,Vancomycin Oral Liquid,n_admits,wounds,y
0,1007,-1,0,-1,0,-1,-1,1,-1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6674,-1,0,-1,0,-1,0,0,-1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
2,32092,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,38578,-1,-1,-1,-1,-1,0,-1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
4,5918,0,-1,-1,1,1,0,1,-1,-1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4080,31575,0,-1,-1,1,-1,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
4081,30009,0,0,0,-1,0,0,-1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4082,19890,0,-1,-1,0,-1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0
4083,31354,0,0,-1,0,-1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4084,4688,0,-1,-1,0,-1,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0

## Tools to explore too many unique values

In [ ]:
df_dataset_unprocessed[categorical_cols].nunique().sort_values(ascending=False)[0:20]

In [ ]:
allvals = df_dataset_unprocessed['51508'].unique().tolist()
len(allvals), df_dataset_unprocessed['51508'].notna().sum()

In [ ]:
df_dataset_unprocessed['51508'].value_counts()

In [ ]:
[x for x in allvals if x and not x == np.nan and not str(x).replace('.','').isnumeric()]

In [ ]:
pd.Series(sorted([float(x) for x in allvals if x and str(x).replace('.','').isnumeric() and float(x) > 1000.0])).describe()

In [ ]:
df_dataset_unprocessed.nunique().sort_values(ascending=False)

## THE END

In [ ]:
import torch
torch.__version__

In [ ]:
fulldata