In [1]:
%pip install -q -r requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np

In [3]:
# load hyperparams instance
from hyper_params import HyperParams
params = HyperParams()

In [4]:
DATA_DIR='data'

In [5]:
from dataproc import io
io.DATA_DIR='data'

In [ ]:
# build all features dataset
import featues_datasets_all_patients
featues_datasets_all_patients.DATA_DIR = DATA_DIR
df_final_dataset = featues_datasets_all_patients.run(params, binning_numerics=False)

In [5]:
df_final_dataset = None

In [6]:
%%time
# build all features dataset for autoencoder
import featues_datasets_all_patients
featues_datasets_all_patients.DATA_DIR = DATA_DIR
df_final_dataset = featues_datasets_all_patients.run(params, binning_numerics=True, create_patients_list_view=False, create_lab_events=False )

hadm_ids table: default.all_pts_24_hours
Previous admits:  (8151, 2)
--------------------------------------------------------------
Open wounds:  (1054, 2)
--------------------------------------------------------------
shape before dropping sparses (54903, 423)
shape after dropping sparses (54903, 126)
df_lab_results: (54903, 126)
df_lab_flags: (54903, 428)
join_static_and_lab_data: (54871, 561)
df_dataset_processed: (54871, 1337)
df_final_dataset: (54871, 1337)
autoencoder training data saved to data/autoencoder_fulldata.npy
CPU times: user 1min 32s, sys: 28.8 s, total: 2min 1s
Wall time: 2min 32s

In [6]:
df_final_dataset = io.load_dataframe('df_final_dataset')

In [7]:
df_final_dataset

,50800_CENTRAL VENOUS,50800_MIX,50800_VEN,50800_nan,50800_flag_nan,50801_1.0,50801_2.0,50801_3.0,50801_4.0,50801_5.0,...,ethnicity_WHITE - EASTERN EUROPEAN,ethnicity_nan,gender_M,gender_nan,age_1.0,age_2.0,age_3.0,age_4.0,age_5.0,age_nan
hadm_id,,,,,,,,,,,,,,,,,,,,,
100001,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
100003,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
100006,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
100007,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
100009,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
199994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
199995,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
199998,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
199999,0,0,0,1,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
dnp = df_final_dataset.to_numpy()

In [12]:
import numpy as np

In [14]:
np.max(dnp)

1

In [226]:
df_final_dataset=df_final_dataset.drop(columns=['hadm_id'])

In [8]:
df_final_dataset.describe()

,50800_CENTRAL VENOUS,50800_MIX,50800_VEN,50800_nan,50800_flag_nan,50801_1.0,50801_2.0,50801_3.0,50801_4.0,50801_5.0,...,ethnicity_WHITE - EASTERN EUROPEAN,ethnicity_nan,gender_M,gender_nan,age_1.0,age_2.0,age_3.0,age_4.0,age_5.0,age_nan
count,54871.000000,54871.000000,54871.000000,54871.000000,54871.000000,54871.000000,54871.000000,54871.000000,54871.000000,54871.000000,...,54871.000000,54871.0,54871.000000,54871.0,54871.000000,54871.000000,54871.000000,54871.000000,54871.000000,54871.0
mean,0.000984,0.024403,0.032148,0.648594,0.648594,0.013996,0.021414,0.026827,0.024658,0.005941,...,0.000437,0.0,0.559184,0.0,0.040094,0.084799,0.209783,0.272822,0.227187,0.0
std,0.031356,0.154297,0.176395,0.477414,0.477414,0.117477,0.144761,0.161578,0.155081,0.076851,...,0.020909,0.0,0.496489,0.0,0.196182,0.278585,0.407157,0.445414,0.419018,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.0
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.0,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.0

In [118]:
df_final_dataset = io.load_dataframe('df_final_dataset')

In [9]:
training_matrix = np.load('data/autoencoder_fulldata.npy')

In [12]:
training_matrix = training_matrix[:10000,:]

In [15]:
np.save('data/autoencoder_fulldata_mini.npy', training_matrix)

In [14]:
np.max(training_matrix), np.min(training_matrix)

(1.0, 0.0)

In [143]:
df_final_dataset.columns.value_counts().sort_values(ascending=False)

50802_flag    1
50946_flag    1
50861_nan     1
51262_flag    1
50913_flag    1
             ..
50903_3.0     1
51244_3.0     1
51158_flag    1
50969_flag    1
50855_flag    1
Length: 1239, dtype: int64

In [165]:
stats = df_final_dataset.describe()

In [166]:
stats.loc['max'].sort_values(ascending=False)

hadm_id       199999.0
n_admits          23.0
50862_1.0          1.0
50867_3.0          1.0
50867_2.0          1.0
                ...
51217_flag         0.0
50884_nan          0.0
51219_flag         0.0
51220_flag         0.0
51469_flag         0.0
Name: max, Length: 1239, dtype: float64

In [146]:
stats['Vancomycin']['mean']

0.13655665105429096

In [147]:
stats.loc[:, lambda df: stats[df]['mean'] > 1.0]

ValueError: Boolean array expected for the condition, not float64

In [110]:
df_dataset_unprocessed = io.load_dataframe('join_static_and_lab_data')

In [106]:
import featues_datasets_all_patients
df_dataset_unprocessed = featues_datasets_all_patients.clean_and_bin_numeric_values(df_dataset_unprocessed.reset_index(), params)

In [111]:
df_dataset_unprocessed

,50800,50800_flag,50801,50801_flag,50802,50802_flag,50803,50803_flag,50804,50804_flag,...,51529_flag,admission_type,admission_location,insurance,language,religion,marital_status,ethnicity,gender,age
hadm_id,,,,,,,,,,,,,,,,,,,,,
100001,None,0,NaN,0,NaN,0,NaN,0,NaN,0,...,0,EMERGENCY,CLINIC REFERRAL/PREMATURE,Private,ENGL,PROTESTANT QUAKER,DIVORCED,WHITE,F,35.0
100003,ART,-1,NaN,0,-6.0,-1,NaN,0,17.0,1,...,0,EMERGENCY,EMERGENCY ROOM ADMIT,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,M,59.0
100006,ART,-1,NaN,0,0.0,-1,NaN,0,24.0,-1,...,0,EMERGENCY,EMERGENCY ROOM ADMIT,Private,OTHER,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,F,48.0
100007,None,0,NaN,0,NaN,0,NaN,0,NaN,0,...,0,EMERGENCY,EMERGENCY ROOM ADMIT,Private,OTHER,JEWISH,MARRIED,WHITE,F,73.0
100009,None,0,NaN,0,2.0,-1,NaN,0,27.0,-1,...,0,EMERGENCY,TRANSFER FROM MED FACILITY,Private,OTHER,CATHOLIC,MARRIED,WHITE,M,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,ART,-1,NaN,0,1.0,-1,NaN,0,28.0,-1,...,0,EMERGENCY,TRANSFER FROM MED FACILITY,Private,OTHER,CATHOLIC,DIVORCED,UNKNOWN/NOT SPECIFIED,M,60.0
199994,ART,-1,NaN,0,-6.0,-1,NaN,0,21.0,-1,...,0,EMERGENCY,EMERGENCY ROOM ADMIT,Medicare,OTHER,CATHOLIC,SINGLE,WHITE,F,58.0
199995,None,0,NaN,0,NaN,0,NaN,0,NaN,0,...,0,EMERGENCY,PHYS REFERRAL/NORMAL DELI,Private,ENGL,PROTESTANT QUAKER,SINGLE,WHITE,M,23.0
199998,None,0,NaN,0,NaN,0,NaN,0,NaN,0,...,0,EMERGENCY,TRANSFER FROM MED FACILITY,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,M,69.0
199999,None,0,NaN,0,NaN,0,NaN,0,NaN,0,...,0,EMERGENCY,CLINIC REFERRAL/PREMATURE,Medicare,ENGL,JEWISH,MARRIED,WHITE,M,88.0

In [52]:
import pandas as pd
pd.Series([1.0, 2.0, None]).fillna(0).apply(str).astype('O')

0    1.0
1    2.0
2    0.0
dtype: object

In [66]:
df_dataset_unprocessed[['50803','50804']].apply(lambda x: str(x))['50803']

'hadm_id\n100001    0\n100003    0\n100006    0\n100007    0\n100009    0\n         ..\n199993    0\n199994    0\n199995    0\n199998    0\n199999    0\nName: 50803, Length: 54871, dtype: object'

In [99]:
df_final_dataset['50803_1.0'].value_counts()

0    53804
1     1067
Name: 50803_1.0, dtype: int64

In [ ]:
df_dataset_processed = featues_datasets_all_patients.on_hot_encode_categorical(df_dataset_unprocessed)

In [27]:
tmp_df = clean_and_bin_numeric_values(df_final_dataset)

In [24]:
num_cols = select_numeric_values_to_process(df_final_dataset)

In [29]:
tmp_df[num_cols].dtypes

hadm_id                   object
50801                     object
50802                     object
50803                     object
50804                     object
                           ...
Vancomycin Enema          object
Vancomycin HCl            object
Vancomycin Oral Liquid    object
n_admits                  object
wounds                    object
Length: 414, dtype: object

In [36]:
f_final_dataset = io.load_dataframe('df_final_dataset')

In [39]:
f_final_dataset.select_dtypes(include='number')

,hadm_id,50800_flag,50801_flag,50802_flag,50803_flag,50804_flag,50805_flag,50806_flag,50808_flag,50809_flag,...,Vancomycin,Vancomycin,Vancomycin 25mg/mL Ophth Soln,Vancomycin Antibiotic Lock,Vancomycin Desensitization,Vancomycin Enema,Vancomycin HCl,Vancomycin Oral Liquid,n_admits,wounds
0,100001,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100003,-1,0,-1,0,1,0,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100006,-1,0,-1,0,-1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100007,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100009,0,0,-1,0,-1,0,-1,-1,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54866,199993,-1,0,-1,0,-1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54867,199994,-1,0,-1,0,-1,0,0,-1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
54868,199995,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
54869,199998,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
54870,199999,0,0,0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# create a cohort dataframe and numpy file
import build_cohort_dataset
df_cohort = build_cohort_dataset.build_cohort(params, df_final_dataset)

df_labels: (4130, 2)
cohort dataset: (4085, 1338)
cohort data saved to data/fulldata.npy

In [25]:
df_cohort.drop(columns=['index']).to_csv('data/fulldata.csv', sep=',', index=False)

## Tools to explore too many unique values

In [ ]:
df_dataset_unprocessed[categorical_cols].nunique().sort_values(ascending=False)[0:20]

In [ ]:
allvals = df_dataset_unprocessed['51508'].unique().tolist()
len(allvals), df_dataset_unprocessed['51508'].notna().sum()

In [ ]:
df_dataset_unprocessed['51508'].value_counts()

In [ ]:
[x for x in allvals if x and not x == np.nan and not str(x).replace('.','').isnumeric()]

In [ ]:
pd.Series(sorted([float(x) for x in allvals if x and str(x).replace('.','').isnumeric() and float(x) > 1000.0])).describe()

In [ ]:
df_dataset_unprocessed.nunique().sort_values(ascending=False)

## THE END

In [ ]:
import torch
torch.__version__

In [ ]:
fulldata